/*header*/

header {
  margin-top: 5em;
  text-align: center;
}

/*body*/

body {
  background-color: #fafaff;
  color: #393E40;
  font-family: Verdana, sans-serif;
}

#left_column {
  float: left;
  display: inline-block;
  width: 45%;
  margin: 2%;
}

#js_objects {
  background-color: #ffffff;
}

#js_functions {
  margin-top: 4em;
  background-color: #ffffff;
}

#right_column {
  float: right;
  display: inline-block;
  width: 45%;
  margin: 2%;
  background-color: #ffffff;
}

#js_loops {

}

h1 {
  margin-bottom: -0.50em;
}

h4 {
  font-size: 1.25em;
}

h4, h6 {
  margin: 0.25em;
}

h5 {
  padding-left: 2em;
  margin-bottom: 0;
  font-size: 1em;
}

h6 {
  padding-left: 0.50em;
  font-size: 0.90em;
  font-weight: normal;
}

div > p {
  padding-left: 3em;
  padding-top: 0;
}

pre {
      border: solid black 3px;
      background-color: lightblue;
      width: 95%;
      margin-left: 0.50em;
}

code {
  font-size: 1.25em;
}



/*footer*/

footer {
  clear: both;
  padding-top: 10em;
  margin-right: 5%;
  margin-left: 5%;
}

#copyright {
  font-weight: bold;
  font-size: 0.75em;
  float: left;
  display: inline-block;
}

footer > p {
  margin: 0;
  float: left;
  display: inline-block;
}

/*footer buttons */

#github {
  float: right;
  display: inline-block;
  margin: .25em;
}

#twitter {
  float: right;
  display: inline-block;
  margin: .25em;
}

#linkedin {
  float: right;
  display: inline-block;
  margin: .25em;
}

